.list--container{
    background-color: aquamarine;
    border-style: dashed;
    margin: 10px
}

.list--image{
    width: 400px;
}

.header--container{
    background-color: antiquewhite;
    height: 200px;
    display: flex;
    justify-content: center;
}

.header--inputs {
    margin: 10px;
}

.header--button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}