body {
    margin: 0;
    font-family: monospace;
}

.nav--container{
    display: flex;
    background-color: turquoise;
    height: 55px;
    justify-content: right;
    padding-top: 50px;
    font-size: 22px;
  
}

.nav--links{
    margin-right: 35px;
}





/* Styling fun facts view */
.funfacts--randomizer {
    border-color: black;
    border-style: double;
    border-width: thick;
    padding: 40px;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 45px;
    font-size: 20px;
    background-color: azure;
    max-width: 600px
}


.funfacts--container {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
    align-items: center;
}

.funfacts--button{
    height: 40px;
    width: 200px;
    border-radius: 13px;
    border-style: inset;
    font-family: monospace;
    margin-top: 30px;
}

.funfacts--intro{
    font-size: large;
    line-height: 60.5px;
    font-family: inherit;
    font-weight: lighter;
    font-style: italic;
    max-width: 800px;
}

/* styling randomdogs view */

.randomDogs--container{
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.image {
    max-height: -webkit-fill-available;
    max-width: -webkit-fill-available;
    margin: 50px;
}


/* style home */

.home--intro{
    font-weight: 500;
    font-family: sans-serif;
}

.home--container{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 100px;

}

.home--intro2{
    color: darkcyan;
    font-size: 32px;

}